.Speech{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 15x;
color: black;
}
.Direction{
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    color: black;
    background-color: lightsalmon;
}
.name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:large;
    color: black;
}
.Direction:hover{
    color: crimson;
    background-color: lightyellow;    
}
.ARG{
    color: greenyellow;
}
.TOI{
    color: hotpink;
}
.table,

td{

  border: 1.8px solid red;

  text-align: left;

  color:blueviolet;

  padding: 6px;

  margin: 40px;
background-color: lightgrey;
border-style:dotted;
}

th{

    border: 2px solid black;  
    border-style: dashed;
    text-align: center;

   

    padding:6px;

    margin: 40px;
}
tr:nth-child(even){
    background-color: cyan;
}

